{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block css %} <link rel="stylesheet" href="/static/elearnwebsite.css"> {% endblock css %}
{% block body %}
<div class="container p-5 fs-5">

    <h1 class="bd-title">About</h1>
    <p class="lead fs-4"> </p>
    <br>
    <h2>Team</h2>
    <h3>The website is maintained by a small team of learners.</h3>
    <div class="container marketing">
        <div class="row ">
            <div class="col-md-3 text-center pt-5">
                <img src="/static/img/dummy_girl.png" style="height:180px" class="img-fluid rounded-circle" alt="">
                <h2>Vedashree Mulik</h2>
                <p>ID: TUS3F192061</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-md-3 text-center pt-5">
                <img src="/static/img/dummy_boy.png" class="img-fluid rounded-circle" alt="">
                <h2>Mangalam Gupta</h2>
                <p>ID: TUS3F192045</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-md-3 text-center pt-5">
                <img src="/static/img/dummy_boy.png" class="img-fluid rounded-circle" alt="">
                <h2>Jaid R. M. Modak</h2>
                <p>ID: TUS3F192048</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-md-3 text-center pt-5">
                <img src="/static/img/dummy_boy.png" class="img-fluid rounded-circle" alt="">
                <h2>Vibhav Nagwekar</h2>
                <p>ID: TUS3F192058</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}